<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="clientport" value="3333" />
    <add key="clientip" value="127.0.0.1" />
    
    <add key="trackingpath" value="C:\Documents and Settings\All Users\Application Data\Mindstorm\iSurface 2.x\cfg\UserSettings.xml" />
    <add key="flipx" value="false" />
    <add key="flipy" value="false" />
    <add key="correctprojection" value="false" />
  </appSettings>
</configuration>